* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 3000px;
}

:root {
  --text-color: rgb(68, 68, 68);
  --hover-transparent-background-color: rgba(36, 36, 36, 0.6);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover {
  opacity: 60%;
}

.card {
  max-width: 200px;
  min-width: 200px;
  position: relative;
}

.card:hover {
  color: var(--text-color);
}

.card-body {
  display: none;
  color: white;
}

.card:hover .card-body {
  display: flex;
  background-color: var(--hover-transparent-background-color);
}

.card button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .7rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  margin-top: 300px;
  margin-bottom: 600px;
}

.intro h1 {
  font-size: 4rem;
}

.intro h2 {
  font-size: 2.5rem;
}

.about {
  position: relative;
}

.about h1 {
  font-size: 3rem;
  color: rgb(100, 100, 100);
}

.projects {
  margin-top: 500px;
  margin-bottom: 300px;
}

.projects h1 {
  font-size: 3rem;
  color: rgb(100, 100, 100);
}

@media screen and (max-width: 700px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro h2 {
    font-size: 2rem;
  }
}